<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Machine Learning Model UI</h1>
        <form id="classificationForm" action="/classify" method="post" enctype="multipart/form-data">
            <textarea id="textInput" name="textInput" rows="4" placeholder="Enter text..."></textarea>
            <input type="file" id="fileInput" name="fileInput" accept=".ps1">
            <button id="classifyButton" type="submit">Classify</button>
        </form>
        <div id="output"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
